@page
@model ids.Pages.Clients.IndexModel

<h3>Clients</h3>

<table class="table table-success table-striped table-responsive table-hover">
    <thead>
        <tr>
            <th>Client Id</th>
            <th>Client Name</th>
            <th>Redirect Uris</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var client in Model.Clients)
        {
            <tr>
                <td>@client.ClientId</td>
                <td>@client.ClientName</td>
                <td>
                    @if(client.RedirectUris != null)
                    {
                        @foreach(var redirectUri in client.RedirectUris)
                        {
                            <p>@redirectUri.RedirectUri</p>
                        }
                    }
                    else
                    {
                        <p>No Redirect Uris</p>
                    }
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-ClientId="@client.ClientId" class="btn btn-primary">Edit</a> |
                    <a asp-page="./Delete" asp-route-ClientId="@client.ClientId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-page="./Create" class="btn btn-primary">Create New</a>
<a href="/" class="btn btn-info">Back to Menu</a>